
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #bed1e8;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  border-radius: 10px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info h1 {
  font-size: 24px;
  margin: 0;
  color: #333;
}

.profile-info h3 {
  color: #666;
  font-weight: normal;
  margin: 0;
}

.profile-header button {
  background-color: #0c1e35;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
  border-radius: 10px;
}

.profile-info p {
  font-size: 16px;
  color: #666;
}

.profile-details {
  padding: 20px;
  background-color: #bed1e8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-details .profile-section {
  margin-bottom: 20px;
}
.profile-details h2 {
  font-size: 20px;
  margin: 0;
  color: #333;
}

.profile-details ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile-details strong {
  font-weight: bold;
}

.profile-details p {
  color: #666;
  margin: 0;
}

.profile-details input[type="text"],
.profile-details textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.profile-details textarea {
  height: 100px;
}
