.sidebar {
  position: sticky;
  top: 0;
  height: 90vh;
  width: 25%;
  background-color: #0c1e35;
  padding: 20px;
  color: #7d84ab;
}


.sidebar .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 50px;
  border-radius: 10px;
}

.menu {
  margin-top: 20px;
}

.menu-header {
  display: block;
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 2px;
  transition: opacity 0.3s;
  opacity: 0.5;
  margin-bottom: 30px;
}

.menu-item {
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 0.9em;
}


.menu-item:not(:last-child) {
  margin-bottom: 25px;
}

.menu-item a {
  text-decoration: none;
  color: #7d84ab;
}

.menu-item a:hover, .menu-item span:hover {
  color: #fff;
}

.menu-item span {
  margin-left: 25px;
}

.submenu {
  margin-left: 20px;
  list-style: none;
  padding-left: 0;
}

.submenu li {
  margin-bottom: 20px;
}
