.sticky-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 10px 20px;
  text-align: center;
  background-color: #0c1e35;
  color: #7d84ab;
}

.sticky-footer a {
  color: #7d84ab;
  text-decoration: none;
}
